{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'js/script.js' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'logo/logo_small_icon_only_inverted.png' %}"
      type="image/x-icon"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path
          fill="#EB7FBE"
          fill-opacity="1"
          d="M0,288L60,266.7C120,245,240,203,360,202.7C480,203,600,245,720,224C840,203,960,117,1080,106.7C1200,96,1320,160,1380,192L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
        ></path>
      </svg>
      <nav>
        <img src="{% static 'logo/logo_small.png' %}" alt="" />
        <a href="#contact-1">Contact Us</a>
      </nav>
    </header>

    {% block searchquote %} {% endblock searchquote %} {% block content %}
    {%endblock %} {%block contactus%} {%endblock%} {% block displayquote %}
    {%endblock displayquote %}

    <!-- Site footer -->
    <footer class="footer">
      <div class="footer-links">
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> |
        <a href="#">Contact Us</a>
      </div>
      <div class="contact-info">
        <div class="address">123 Main Street, City, Country</div>
        <div class="phone">Phone: +1 (123) 456-7890</div>
        <div class="email">Email: info@example.com</div>
      </div>
      <div class="social-media">
        <!-- <a href="#" target="_blank"
          ><img src="/assets/icons8-facebook-50.png" alt="Facebook"
        /></a>
        <a href="#" target="_blank"
          ><img src="/assets/icons8-twitter-50.png" alt="Twitter"
        /></a>
        <a href="#" target="_blank"
          ><img src="/assets/icons8-instagram-48.png" alt="Instagram"
        /></a> -->
      </div>
      <div>
        <p>&copy; WordJolt. All rights reserved.</p>
      </div>
    </footer>

    {% block scriptb %} {% endblock scriptb %}
  </body>
</html>
