{% extends 'html/base_html.html'%} {% load static %} {%block title %} Home
{%endblock%} {% block content %}
<section class="body-container">
  <br />
  <h1 class="wel-header">Welcome To WordJolt</h1>
  <br />
  <span class="inner-p">An application to check for your favourite quotes</span>
  <p>
    <br />
    Find and discover amazing quotes from our wide variety, what are u waiting
    for
  </p>
  <a class="btn" href="{% url 'main' %}">click to get started</a>
</section>
{% endblock %} {% block contactus%}
<!-- start of contact us -->
<form>
  <div id="contact-1" class="contact-header"><h1>contact us</h1></div>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<!-- end of contact us -->
{% endblock contactus%}
